.header{

    text-align: center;
    width: 100%;
    background-color:darkgrey;
    padding: 70px;
margin-top: 7px;
font-size: large;
font-weight: bold;
font-family: 'Courier New', Courier, monospace;
color:darkgreen
}

.footer {

   display: flex;
   justify-content:space-around;
    width: 100%;
    background-color: darkgray;
    margin-top: 7px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;

}
.img{
    float: left;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.main{
   text-align: justify;
}
.fimg{
    height: 40px;
     width: 40px;

}
